
<form method="post" action="/realizar_jugada">
  <input type="submit" name="opcion" value="Arriba"></input>
  <input type="submit" name="opcion" value="Abajo"></input>
  <input type="submit" name="opcion" value="Izquierda"></input>
  <input type="submit" name="opcion" value="Derecha"></input>


</form>
