
<form method="post" action="/realizar_jugada">
  <P>
    <label for="posx">Pos X: </label>
              <input name="posX" type="text" ></br>
  </P>
  <p>
    <label for="posy">Pos Y: </label>
              <input name="posY" type="text" >
  </p>
  <input type="submit" value="Ver casilla">
  <input type="submit" name="opcion" value="Arriba"></input>
  <input type="submit" name="opcion" value="Abajo"></input>
  <input type="submit" name="opcion" value="Izquierda"></input>
  <input type="submit" name="opcion" value="Derecha"></input>


</form>
