<h1>Seleccion de tablero.</h1>

<form method="post" action="/seleccionarTablero">
<label> Tamaño:</label>

<button type="submit" name="num" value="4">4x4</button>
<button type="submit" name="num" value="5">5x5</button>
<button type="submit" name="num" value="6">6x6</button>
</form>
