<head>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
  td{
     width: 80;
     height: 100;
  }
</style>

</head>

<div class="container">
  <h1>TURNO: </h1>
   <h2><%= @juego.es_turno_de()%></h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>0</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
      </tr>
    </thead>
    <tbody>
      <% @matriz.each do |fila| %>
        <tr>
          <th height ="100" width ="30"> </th>
          <%fila.each do |col|%>
            <% if col.estado_casilla == "false false false false " %>
              <td></td>
            <% end %>

            <% if col.estado_casilla == "false false false true " %>
              <td style="border-right: solid"> </td>
            <% end %>

            <% if col.estado_casilla == "false false true false " %>
              <td style="border-left: solid"> </td>
            <% end %>

            <% if col.estado_casilla == "false false true true " %>
              <td style="border-right:solid; border-left:solid "> </td>
            <% end %>

            <% if col.estado_casilla == "false true false false " %>
              <td style="border-bottom: solid"> </td>
            <% end %>

            <% if col.estado_casilla == "false true false true " %>
              <td style="border-bottom:solid; border-right: solid"> </td>
            <% end %>

            <% if col.estado_casilla == "false true true false " %>
              <td style="border-bottom:solid; border-left: solid"> </td>
            <% end %>

            <% if col.estado_casilla == "false true true true " %>
              <td style="border-bottom:solid; border-left: solid; border-right: solid"> </td>
            <% end %>

            <% if col.estado_casilla == "true false false false " %>
              <td style="border-top: solid"> </td>
            <% end %>

            <% if col.estado_casilla == "true false false true " %>
              <td style="border-top:solid; border-right:solid "> </td>
            <% end %>

            <% if col.estado_casilla == "true false true false " %>
              <td style="border-top:solid; border-left:solid "> </td>
            <% end %>

            <% if col.estado_casilla == "true false true true " %>
              <td style="border-top:solid; border-right:solid; border-left:solid"> </td>
            <% end %>

            <% if col.estado_casilla == "true true false false " %>
              <td style="border-top:solid; border-bottom:solid "> </td>
            <% end %>

            <% if col.estado_casilla == "true true false true " %>
              <td style="border-top:solid;  border-bottom:solid; border-right:solid "> </td>
            <% end %>

            <% if col.estado_casilla == "true true true false " %>
              <td style="border-top:solid;  border-bottom:solid; border-left:solid "> </td>
            <% end %>

            <% if col.estado_casilla == "true true true true " %>
              <% if @juego.es_turno_de == "jugador1" %>
                <td style="border-top: solid; border-top: solid; border-bottom: solid; border-left: solid; border-right: solid;background-color: lightblue;"> </td>
              <%end%>
              <% if @juego.es_turno_de == "jugador2" %>
                <td style="border-top: solid; border-top: solid; border-bottom: solid; border-left: solid; border-right: solid;background-color: navy;"> </td>
              <%end%>

            <%end%>

          <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <a href="/" class="btn btn-primary">ATRAS</a>
</div>
